@model MVCEntitiyFrameworkPostgreSQL.Models.Hospital

@{
    ViewBag.Title = "HospitalEdit";
    Layout = "~/Views/Shared/_BakanLayout.cshtml";
}

<div style="background-color: #333333; justify-content: center; text-align: center; width: 200px; height: 60px; margin: auto; margin-top: 15px; margin-bottom: 20px; border: solid 1px; border-radius: 10px; border-color: black ">
    <h2 style="margin-top: 13px; color: #9d9d9d"><b>Edit Hospital</b></h2>
</div>
<link href="~/css/mystyles.css" rel="stylesheet" />
@using (Html.BeginForm("HospitalEdit","Bakan", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div style="background-color: #333333; margin: auto; border: solid 1px; border-radius: 10px; border-color: black; width: 500px; height: 300px; " class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id)
    @Html.HiddenFor(model => model.isActive)
    @Html.HiddenFor(model => model.createdDate)

        <div style="width:100%;height:80px;" class="form-group text-center">
            @Html.LabelFor(model => model.name, htmlAttributes: new { style = "color: #9d9d9d;text-align:center;float:none;width:170px;margin-bottom:10px;margin-left:30px;margin-top:15px;", @class = "control-label col-md-2" })
            <br />
            <div style="width:100%;margin-left:130px;">
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control center" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="width: 100%; height: 130px;" class="form-group text-center">
            @Html.LabelFor(model => model.address, htmlAttributes: new { style = "color: #9d9d9d;text-align:center;float:none;width:170px;margin-bottom:10px;margin-left:35px;", @class = "control-label col-md-2" })
            <br />
            <div style="width:100%;margin-left:20px;">
                @Html.TextAreaFor(model => model.address, new { @class = "textarea",@rows = 3, @cols = 100 })
                @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="margin-top:20px;" class="form-group">
            <div style="margin: 0px; width: 100%;" class="col-md-offset-2 col-md-10">
                <center><input style="height: 40px; width: 70px; font-size: 20px; font-weight: 500; background-color: #9d9d9d;border-color:black" type="submit" value="Save" class="btn btn-default" /></center>
            </div>
        </div>

    
</div>
}
<br />
<br />
<div>
    <center><a class="btn btn-danger" href="~/Bakan/HospitalDelete/@Model.id.ToString()">Delete This Hospital</a></center>
</div>
