@using MVCEntitiyFrameworkPostgreSQL.Models;
@model AppointmentDoctorHospitalVM

@{
    ViewBag.Title = "Appointment Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2 style="font-weight: bold;">My Appointments</h2></center>
<br />
@if (Model.appointments.Count() == 0)
{
    <hr />
    <br />
    <center><h2>You don't have any appointment</h2></center>
    <br />
}
else
{
    <br />
    <table class="table">
        <tr>
            <th>
                <h5 style="color: red; font-weight: bold;">Doctor Name</h5>
            </th>
            <th>
                <h5 style="color: red; font-weight: bold;">Doctor Title</h5>
            </th>
            <th>
                <h5 style="color: red; font-weight: bold;">Hospital Name</h5>
            </th>
            <th>
                <h5 style="color: red; font-weight: bold;">Appointment Date</h5>
            </th>
            <th>
                <h5 style="color: red; font-weight: bold;">Appointment Hour</h5>
            </th>
            <th>
                <h5 style="color: red; font-weight: bold;">Appointment Note</h5>
            </th>
            <th></th>
        </tr>

        @foreach (Appointment appointment in Model.appointments)
        {
            <tr>
                <td>
                    @Model.doctors.Where(x => x.id.Equals(appointment.doctorId)).ToArray()[0].name
                </td>
                <td>
                    @Model.doctors.Where(x => x.id.Equals(appointment.doctorId)).ToArray()[0].title
                </td>
                <td>
                    @Model.hospitals.Where(x => x.id.Equals(appointment.hospitalId)).ToArray()[0].name
                </td>
                <td>
                    @appointment.appointmentDate.Day/@appointment.appointmentDate.Month/@appointment.appointmentDate.Year
                </td>
                <td>
                    @Model.times.Where(x => x.id.Equals(appointment.timeId)).ToArray()[0].time
                </td>
                @if (appointment.appointmentNote.Length > 20)
                {
                    <td>
                        <p>@appointment.appointmentNote.Substring(0, 19) (...)</p>
                    </td>
                }
                else
                {
                    <td>
                        @appointment.appointmentNote
                    </td>
                }
                <td>


                    @if (Model.results.Where(x => x.appointmentId.Equals(appointment.id)).ToArray().Count() != 0)
                    {
                        <a class="btn btn-danger disabled" href="~/User/AppointmentDelete/@appointment.id">Cancel</a>
                        <a class="btn btn-info" href="~/User/AppointmentDetails/@appointment.id">Details</a>
                        <a style="width:136px;" class="btn btn-success" href="~/User/ResultDetails/@Model.results.Where(x => x.appointmentId.Equals(appointment.id)).ToArray()[0].id.ToString()">See Result</a>
                    }
                    else
                    {
                        <a class="btn btn-danger" href="~/User/AppointmentDelete/@appointment.id">Cancel</a>
                        <a class="btn btn-info" href="~/User/AppointmentDetails/@appointment.id">Details</a>
                        <button type="button" class="btn btn-warning">Result Not Added</button>
                    }
                </td>
            </tr>
        }

    </table>
}

