@model MVCEntitiyFrameworkPostgreSQL.Models.Doctor

@{
    ViewBag.Title = "DoctorLogin";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<div style="background-color: #333333; justify-content: center; text-align: center; width: 130px; height: 60px; margin: auto; margin-top: 15px; margin-bottom: 20px; border: solid 1px; border-radius: 10px; border-color: black ">
    <h2 style="margin-top: 13px; color: #9d9d9d">Login</h2>
</div>
<center><span>If you don't have an account <a href="~/Doctor/DoctorCreate">create an account</a></span></center>
<br />

@using (Html.BeginForm("DoctorLogin", "Doctor", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div style="background-color: #333333; margin: auto; border: solid 1px; border-radius: 10px; border-color: black; width: 500px; " class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div style="margin-top: 50px; margin-left: 0px; width: 100%" class="form-group text-center">
            @Html.LabelFor(model => model.email, htmlAttributes: new { style = "color: #9d9d9d;text-align:center;float:none;;width:170px", @class = "control-label col-md-2" })
            <br />
            <div style="width:100%">
                <center>@Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })</center>
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="margin-left:0px; width:100%" class="form-group text-center">
            @Html.LabelFor(model => model.password, htmlAttributes: new { style = "color: #9d9d9d;text-align:center;float:none;width:170px", @class = "control-label col-md-2" })
            <br />
            <div style="width:100%">
                <center>@Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })</center>
                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div style="margin:20px 0px; width: 100% " class="form-group">
            <div style="margin:0px; padding:0px; width: 100% " class="col-md-offset-2 col-md-10">
                <center><input type="submit" value="Login" style="background-color: #9d9d9d; border-color: #9d9d9d; font-size: 17px; color: black " class="btn btn-default" /></center>
            </div>
        </div>
        <div class="form-group">
            <div style="margin:0px; width:100%" class="col-md-offset-2 col-md-10">
                <center><label style="color: #9d9d9d">@ViewBag.Notification</label></center>
            </div>
        </div>
    </div>
}

<div style="padding-top:20px;display: flex; justify-content: center;">
    <h4><a href="~/Doctor/DoctorCreate" style="width:130px; background-color: #333333; font-size: 18px; border-color: black; border-radius: 10px; color: #9d9d9d " role="button" class="btn btn-info">Sign up</a></h4>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
