@model MVCEntitiyFrameworkPostgreSQL.Models.Result

@{
    ViewBag.Title = "ResultDetails";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}
<center><h2 style="font-weight: bold;">Result Details</h2></center>
<br />
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Patient Name:
        </dt>

        <dd>
            @foreach (var item in Model.usersCollection)
            {
                if (item.id.Equals(@Model.appointmentsCollection.Where(x => x.id.Equals(Model.appointmentId)).ToArray()[0].userId))
                {
                    @item.username
                }
            }
        </dd>
        <dt>
            Result:
        </dt>

        <dd>
            @Model.resultText
        </dd>

        <dt>
            Created Date:
        </dt>

        <dd>
            @Model.createdDate
        </dd>

        <dt>
            Created Doctor Name:
        </dt>


        <dd>
            @Model.doctorsCollection.Find(x => x.id == Model.createdDoctorId).name
        </dd>

        <dt>
            Updated Date:
        </dt>

        @if (Model.updatedDate != null)
        {
            <dd>
                @Model.updatedDate
            </dd>
        }
        else
        {
            <dd>
                Not updated yet
            </dd>
        }

        <dt>
            Updated Doctor Name:
        </dt>

        @if (Model.updatedDoctorId != null)
        {
        <dd>
            @Model.doctorsCollection.Find(x => x.id == Model.updatedDoctorId).name
        </dd>
        }
        else
        {
            <dd>
                Not updated yet
            </dd>
        }

    </dl>
</div>
<p>
    <a style="margin-left:180px;" class="btn btn-info" href="~/Doctor/ResultIndex">Return to My Results</a>
    <a class="btn btn-info" href="~/Doctor/AppointmentIndex">Return to My Appointments</a>
</p>
